# Root editorconfig file
root = true

# Global settings
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# C# Specific Rules
[*.cs]

# Indentation
csharp_indent_block_contents = true
csharp_indent_braces = false
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

# Using directive cleanup
dotnet_remove_unnecessary_imports = true
dotnet_separate_import_directive_groups = false

# Code style preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true

# 'var' preferences
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = false:suggestion
csharp_style_var_elsewhere = false:suggestion

# Formatting preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:suggestion
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:suggestion

# Quotes & literals
csharp_prefer_simple_default_expression = true:suggestion
csharp_style_prefer_single_quotes_for_char_literals = true:suggestion

# Unused code cleanup
dotnet_remove_unnecessary_suppression_exclusions = true
